<footer>
        <div class="container">
            <div class="row">
                <div class="col p-0">
                    <h1 style="font-size: x-large; font-weight: bold; color: orange;">INFORMATION</h1>
                    <div style="border-bottom: 1px dashed gray; width: 92%;"></div>
                    <ul style="list-style: none;" class="p-0">
                        <li style="margin-bottom: 8px;">Product Information</li>
                        <div style="border-bottom: 1px dashed gray; width: 92%;"></div>
                        <li style="margin-bottom: 8px;">Order Policy</li>
                        <div style="border-bottom: 1px dashed gray; width: 92%;"></div>
                        <li style="margin-bottom: 8px;">Return Policy</li>
                        <div style="border-bottom: 1px dashed gray; width: 92%;"></div>
                        <li style="margin-bottom: 8px;">Catalog</li>
                    </ul>
                </div>
                <div class="col p-0">
                    <h1 style="font-size: x-large; font-weight: bold; color: orange;">SHOP FOR YOUR PET</h1>
                    <div style="border-bottom: 1px dashed gray; width: 92%;"></div>
                    <ul style="list-style: none;" class=" p-0">
                        <li style="margin-bottom: 8px;">Fountains & Accessories</li>
                        <div style="border-bottom: 1px dashed gray; width: 92%;"></div>
                        <li style="margin-bottom: 8px;">Feeders</li>
                        <div style="border-bottom: 1px dashed gray; width: 92%;"></div>
                        <li style="margin-bottom: 8px;">Toys</li>
                        <div style="border-bottom: 1px dashed gray; width: 92%;"></div>
                        <li style="margin-bottom: 8px;">Scratching</li>
                        <div style="border-bottom: 1px dashed gray; width: 92%;"></div>
                        <li style="margin-bottom: 8px;">Litter</li>
                        <div style="border-bottom: 1px dashed gray; width: 92%;"></div>
                        <li style="margin-bottom: 8px;">Sticky Paws</li>
                        <div style="border-bottom: 1px dashed gray; width: 92%;"></div>
                        <li style="margin-bottom: 8px;">Sale & Clearance</li>
                    </ul>
                </div>
                <div class="col p-0">
                    <div class="row">
                        <div class="col-12 p-0">
                            <h1 style="font-size: x-large; font-weight: bold; color: orange;">CONTACT</h1>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1 p-0">
                                    <img src="/img/footer/map-logo.png" alt="" class="img-fluid">
                                </div>
                                <div class="col p-0">
                                    <div class="">College la Cite</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row">
                                <div class="col-1 p-0">
                                    <img src="/img/footer/telephone-logo.png" alt="" class="img-fluid">
                                </div>
                                <div class="col p-0">
                                    <p>Contact us: (1)000-000-0000</p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-12 p-0">
                            <h1 style="font-size: x-large; font-weight: bold; color: orange;">FOLLOW US</h1>
                        </div>
                        <div class="col-12 p-0">
                            <img src="/img/footer/fb-logo.png" alt="">
                            <img src="/img/footer/twitter-logo.png" alt="">
                            <img src="/img/footer/pinterest-logo.png" alt="">
                            <img src="/img/footer/instagram-logo.png" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 p-0">
                            <h1 style="font-size: x-large; font-weight: bold; color: orange;">SUBSCRIBE</h1>
                        </div>
                        <div class="col-12 p-0 ">
                            <div class="row">
                                <div class="col-9 pr-1 ">
                                    <input style="width: 100%; text-indent: 5px; padding: 0; margin: 0; border-radius: 9px; border-width: 1px;" type="text" name="Courriel" id="" placeholder="Courriel">
                                </div>
                                <div class="col-3 p-0">
                                    <input type="button" value="Subscribe" style="background-color: gray; color: white; border-radius: 9px; border: none; padding-left: 1rem; padding-right: 1rem; padding-top: 1px; padding-bottom: 1px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row py-3" style="background-color: #f0eeeb;">
                <div class="col-7 offset-2">
                    <div class="row">
                        <div class="col p-0">
                            <a href="" style="color: black;">Home</a>
                        </div>
                        <div class="col p-0">
                            <a href="" style="color: black;">About</a>
                        </div>
                        <div class="col p-0">
                            <a href="" style="color: black;">Contact</a>
                        </div>
                        <div class="col p-0">
                            <a href="" style="color: black;">Careers</a>
                        </div>
                        <div class="col-3 p-0">
                            <a href="" style="color: black;">Pioneer Pet Patents</a>
                        </div>
                        <div class="col p-0">
                            <a href="/privacy-policy" style="color: black;">Privacy Policy</a>
                        </div>
                    </div>
                    <div class="row">
                        <p>2023 &copy; PETTOYS</p>
                    </div>
                </div>
            </div>
        </div>
        
    </footer>
