<div class="container">
    <div class="InteractiveTitle">
        Interactive
    </div>

    <div class="row product-list">
        {{#each produits}}
        <div class="col-4 products" >
            <button class="produits" id="{{this.id}}" >
                <div class="product-container">
                    <a href="#">
                        <img src="/img/produits/{{this.id}}/main.jpg" alt="Product Image" style="width: 230px; height: 230px">
                    </a>
                    <a href="#" class="product-name">{{this.name}}</a>
                    <p class="product-price">{{this.price}}</p>
                </div>
            </button>
        </div>
        {{/each}}
    </div>
</div>