<p>
    Ce gabarit contient les librairies suivantes:
</p>

<dl>
    {{#each contenu}}
        <dt>{{this.nom}}</dt>
        <dd>{{this.description}}</dd>
    {{/each}}
</ul>

<script type="module" src="./js/home.js"></script>