<div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-inner">
        <div class="carousel-item active c-item">
            <img src="/img/home/chat.jpg" class="d-block w-100 c-img " alt="...">
            <div class="carousel-caption d-none d-md-block">
                <h1>SAY GOODBYE TO ARTIFICIAL ADDITIVES</h1>
                <p>Hello to wholesome nutrition with our natural cat food options</p>
                <button type="button" class="btn btn-primary">READ MORE</button>
            </div>
        </div>


    </div>
</div>



<div class="container py-5">
    <div class="row">
        <div class="col">
            <img src="/img/home/smartcat1.jpg" class="img-fluid w-100 a-img" alt="...">
        </div>
        <div class="col">
            <img src="/img/home/dog.jpg" class="img-fluid w-100 a-img" alt="...">
        </div>

    </div>
</div>


<div class="container py-5">
    <img src="/img/home/A.png" class="img-fluid w-100 a-img" alt="...">
    <ul class="nav justify-content-end">
        <li class="nav-item m-3">
            <a class="btn btn-outline-secondary" aria-current="page" href="#">PRODUCT CATEGORIES</a>
        </li>
        <li class="nav-item m-3">
            <a class="btn btn-outline-secondary" href="#">BEST SELLERS</a>
        </li>
        <li class="nav-item m-3">
            <a class="btn btn-outline-secondary" href="#">SALE PRODUCTS</a>
        </li>
    </ul>
    <div class="row">
        <div class="col-4 col-md py-3">
            <div class="card text-center" style="width: 18rem;">
                <img src="/img/home/card1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#" class="card-link text-warning">FOUNTAINES & ACCESSORIES</a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md py-3">
            <div class="card text-center" style="width: 18rem;">
                <img src="/img/home/card2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#" class="card-link text-warning">FEEDERS</a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md py-3">
            <div class="card text-center" style="width: 18rem;">
                <img src="/img/home/card3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#" class="card-link text-warning">TOYS</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-4 col-md py-3">
            <div class="card text-center" style="width: 18rem;">
                <img src="/img/home/card4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#" class="card-link text-warning">SCRATCHING</a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md py-3">
            <div class="card text-center" style="width: 18rem;">
                <img src="/img/home/card5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#" class="card-link text-warning">LITTER</a>
                </div>
            </div>
        </div>

        <div class="col-4 col-md py-3">
            <div class="card text-center" style="width: 18rem;">
                <img src="/img/home/card6.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <a href="#" class="card-link text-warning">STICKY PAWS</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container py-3">
        <div class="row">
            <div class="col-4 col-md">
                <div class="card text-center" style="width: 18rem;">
                    <img src="/img/home/card7.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <a href="#" class="card-link text-warning">DRAWSTRING TIE WASTE BAGS</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</div>


<div class="row">
    <div class="col">
        <img src="/img/home/chat2.jpg" class="img-fluid" alt="...">
    </div>
    <div class="col bg-info">
        <div class="container">
            <h1 class="text-white">WE ARE CATS INTERNATIONAL</h1>
            <ul>
                <li>Keep your feline entertained with our top-rated cat toys</li>
                <li>Experience endless fun with our selection of cats toys for every age and activity level
                </li>
                <li>Let our cat expetience help you solve your cat's behavior problems, so your cat can stay in your
                    loving
                    home.</li>
                <li>Find the purr-fect plaything for your kitty.</li>
            </ul>
        </div>
    </div>

</div>



