

<div id="hero-carousel" class="carousel slide" data-bs-ride="carousel">

  <div class="carousel-inner">
    <div class="carousel-item active c-item">
      <img src="/img/home/chat.jpg" class="d-block w-100 c-img" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1 class="h3">SAY GOODBYE TO ARTIFICIAL ADDITIVES</h1>
        <p>Hello to wholesome nutrition with our natural cat food options</p>
        <button type="button" class="btn btn-primary btn-sm">READ MORE</button>
      </div>
    </div>
  </div>
  
  <div class="carousel-caption d-md-none">
    <h1 class="h3">SAY GOODBYE TO ARTIFICIAL ADDITIVES</h1>
    <p>Hello to wholesome nutrition with our natural cat food options</p>
    <button type="button" class="btn btn-primary btn-sm">READ MORE</button>
  </div>

</div>


<div class="container py-3">
  <div class="row">
    <div class="col-md-6">
      <img src="/img/home/smartcat1.jpg" class="img-fluid w-100 a-img" alt="...">
    </div>
    <div class="col-md-6 mt-3 mt-md-0">
      <img src="/img/home/dog.jpg" class="img-fluid w-100 a-img" alt="...">
    </div>
  </div>
</div>



<div class="container py-3">
  <img src="/img/home/A.png" class="img-fluid w-100 a-img" alt="...">
  <ul class="nav justify-content-end mt-3">
    <li class="nav-item me-3">
      <button id="test">
        <a class="btn btn-outline-secondary btn-sm" aria-current="page" id="test">PRODUCT CATEGORIES</a>
      </button>
    </li>
    <li class="nav-item me-3">
      <a class="btn btn-outline-secondary btn-sm" href="#">BEST SELLERS</a>
    </li>
    <li class="nav-item me-3">
      <a class="btn btn-outline-secondary btn-sm" href="#">SALE PRODUCTS</a>
    </li>
  </ul>
  <div class="row mt-3">
    {{#each categories}}
    <div class="col-6 col-md-3 py-3">
      <button class="categorie" id="{{this.id}}">
        <div class="card h-100 border-0">
          <img src="/img/home/{{this.img_name}}" class="card-img-top img-fluid" alt="...">
          <div class="card-body text-center">
            <a href="#" class="card-link text-warning">{{this.name}}</a>
          </div>
        </div>
      </button>
    </div>
    {{/each}}
  </div>
</div>



<div class="row">
  <div class="col-md-6">
    <img src="/img/home/chat2.jpg" class="img-fluid" alt="...">
  </div>
  <div class="col-md-6 bg-info">
    <div class="container py-3">
      <h1 class="h3 text-white">WE ARE CATS INTERNATIONAL</h1>
      <ul>
        <li>Keep your feline entertained with our top-rated cat toys</li>
        <li>Experience endless fun with our selection of cats toys for every age and activity level</li>
        <li>Let our cat experience help you solve your cat's behavior problems, so your cat can stay in your loving home.</li>
        <li>Find the purr-fect plaything for your kitty.</li>
      </ul>
    </div>
  </div>
</div>
