.menu-container {
    display: none;
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #fff;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .menu-items li {
    padding: 10px;
  }
  
  .menu-items li a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
  }
  .menu-items li:hover{
    background-color: orange;
  }
  
  .menu-trigger {
    background-color: #fff;
    border: none;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    padding: 0px;
  }

  .menu-trigger:hover{
    text-decoration: underline;
  }
  
  .menu-trigger:focus + .menu-container {
    display: block;
    z-index: 100;
  }
  