body {
    margin: 0;
    padding: 0;
}

header {
    box-shadow: 0 4px 2px -2px gray;
}
/*
header img {
    height: -webkit-fill-available;
    width: auto;
}
*/
.headul {
    list-style: none;
    display: flex;
}

.w100 {
    width: 100%;
}



.w30 {
    width: 30%;
}

.w70 {
    width: 70%;
}

.headul li {
    display: inline;
    margin: 0px 10px;
    width: max-content;
    display: flex;
}

.headul li p {
    font-weight: 900;
    cursor: pointer;
}

.flex {
    display: flex;
}

.table {
    display: table;
}

.left {
    align-items: flex-start;
    justify-content: flex-start;
}

.right {
    margin-left: auto;
    align-items: flex-end;
    justify-content: flex-end;
}

.iconuser {
    font-size: 24px;
    margin: auto;
    cursor: pointer;
}

.shop {
    padding: 0px 10px;
    cursor: pointer;
    border-radius: 10%;
    color: white;
    background-color: orange;
}

.shopping {
    margin: auto;
}

.shopping i {
    font-size: 24px;
}

.shopping p {
    display: inline;
    padding: 0;
    margin: 0;
}

.shoppinginfo {
    padding: 30px;
    min-width: min-content;
    width: 300px;
    max-width: max-content;
    border: solid 1px black;
}



.colorblue {
    color: blue;
    font-size: large;
    margin-top: 10px;
    font-weight: 900;
}

.space0 {
    margin: 0;
    font-weight: 600;
}

.space {
    max-width: 20px 0px;
    font-weight: 600;
}

.spacer{
    padding: 10px;
}

table,
td,
th {
    border: 1px solid;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.padspace {
    padding: 0px 30px;
}

table tr td p{
    text-align: center;
    align-items: flex-start;
    justify-content: flex-start;
}

table tr td img{
    margin: auto;
    text-align: center;
    align-items: flex-start;
    justify-content: flex-start;
}

table tr td input{
    margin: auto;
    text-align: center;
    align-items: flex-start;
    justify-content: flex-start;
}

.black{
    background-color: black;
    color: white;
}

.grey{
    background-color: gray;
    color: white;
}

.padding10{
    padding: 10px;
}

.lastbtn{
    margin-right: 15px;
}

.red{
    color: red;
}
.red i{
    cursor: pointer;
    text-align: center;
}

.w50{
    width: 50%;
}

.orange{
    color: orange;
}
.blue{
    color: blue;
}

.table22 td{
    border: 0px;
}

.table22 td p{
    padding: 10px 15px;
    text-align: left;
}

.checkbtn{
    margin-top: 5px;
    padding: 10px 25px;
    cursor: pointer;
}



.padding5-0{
    padding: 5px 0px;
}

.product-container {
    height: 100px; 
  }

  .table-header-right {
    text-align: right;
  }
  
  .table-header-bold {
    font-weight: bold;
  }

  .item-price-bold {
    font-weight: bold;
    color: #243a68;
  }

  .item-quantity {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    width: 50px;
  }
  
  .item-quantity:focus {
    outline: none;
    border-color: #1c2331;
  }

  .item-id-bold {
    font-weight: 500;
    color: #0077be;
  }

  .shopping-info {
    padding: 10px;
    border: 1px solid black;
    max-width: 500px; 
  }
  
  .color-blue {
    color: #0077be;
  }
  
  .space-0 {
    margin: 0;
    font-weight: bold;
  }
  
  .space {
    margin-top: 10px;
  }
  
  .item-shipping{
    color: #126fa4;
  }
  
  